body{
    margin: 0px;;
    display: flex;
    flex-flow: wrap;
    background-image: linear-gradient(to left bottom, #1f2022, #24282e, #27303a, #283a45, #284351, #2c4f5f, #305c6c, #33697a, #3e7d8e, #4a91a2, #56a6b6, #63bcca);
}
.global{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.left{
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 20%;
}
.stat{
    display: flex;
    flex-flow: column;
    text-align: left;
}
.bonus{
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    height: 310px;
}
h2{
    text-align:center;
    padding-right: auto;
    padding-left: auto;
}
.center{
    background-image: url("img/background.png");
    background: cover;
    display: flex;
    justify-content: center;
    height: auto;
    width: 50%;
}
.logo{
    padding-top: 100px;
    width: 200px;
    height: 200px;
}
.ligne-de-code{
    justify-content: center;
    display:flex;
    padding-top: 10%;
    flex-flow: nowrap;
    width: 200px;
    color:white;
    font-size: 150%;
}

.code{
    padding-right: 05%;
}
form {
    width: 20%;
  }
.right{
    overflow-y: scroll;
    height: 500px;
    width: 100%;
}
.auto-click{
    display: flex;
    flex-flow: column;
    text-align: center;
}
h1{ 
    text-align: center;
    width: 100%;
}
#farm{
    
    width: 100%;
    background-image: url("img/logo_markdown.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: -5px;
    display: flex;
    flex-wrap: wrap;
}
#farm1{
    
    width: 100%;
    background-image: url("img/html.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: -5px;
    display: flex;
    flex-wrap: wrap;
}
#farm2{
    
    width: 100%;
    background-image: url("img/css.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: -5px;
    display: flex;
    flex-wrap: wrap;
}
#farm3{
    
    width: 100%;
    background-image: url("img/js.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: -5px;
    display: flex;
    flex-wrap: wrap;
}
#farm4{
    
    width: 100%;
    background-image: url("img/csharp.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: -5px;
    display: flex;
    flex-wrap: wrap;
}
#farm5{
    
    width: 100%;
    background-image: url("img/rust.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: -5px;
    display: flex;
    flex-wrap: wrap;
}
#farm6{
    
    width: 100%;
    background-image: url("img/emojicode.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: -5px;
    display: flex;
    flex-wrap: wrap;
}
.usine{
    width: 40%;
    height: 40%;
}
.prix{
    width: 40%;
    height: 40%;
}