* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to left bottom, #1f2022, #23262b, #252c33, #27333c, #283a45, #2b4350, #2e4c5a, #315565, #376374, #3d7284, #448193, #4a91a2);
  display: flex;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#left-container {
  width: 25vw;
  height: 100%;
  padding-left: 2vw;
  padding-top: 2vw;
    h2{
      color:rgb(54, 215, 243);
      margin-top: 10px;
    }
    #total-score{
      color: white;
      padding-top: 10px;
    }
    #total-click{
      color: white;
      padding-top: 10px;
    }
    #date{
      color: white;
      padding-top: 10px;
    }
    #bonus{
      background-color: #201f21;
      opacity: 80%;
      box-shadow: 5px 5px 15px black, -3px -3px 15px black;
      margin-top: 25px;
      width: auto;
      border-radius: 10%;
      font-size:130%;
      display: flex;
      flex-flow:wrap;
        .bonus{
          color: white;
          div{
            width: auto;
            display: flex;
            flex-flow: column;
          img{
            height: 30px;
            width: 30px;
            margin-left: 5px;
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
          }
          p{
            width: 20%;
          }
          p.price{
            width: 20%;
          }
        }
      }
    }
}

[data-tooltip]:before {            
  position : absolute;
   content : attr(data-tooltip);
   opacity : 0;
}


[data-tooltip]:hover:before {        
  opacity : 1;
}

// Tooltip styles

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
  left: 57vw;
  width: 20vw;
  background-color: white;
  padding: 5px;
  text-align: justify;
  color: black;
}

#center-container {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    color: rgb(54, 215, 243);
  }
  #game-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    #game-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      #counter {
        color: white;
        padding-top: 20px;
        font-size: 2em;

        &:after {
          content: " lignes de code";
        }
      }

      #lps {
        padding-top: 20px;
        color: rgb(233, 227, 227);
        font-size: 1.5em;
        &:after {
          content: " lps";
        }
      }
    }

    #logo {
      padding-top: 10px;
      border-radius: 50%;
      cursor: crosshair;
      width: 50%;
    }
  }
}

#right-container {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    color: rgb(54, 215, 243);
    margin-bottom: 10px;
  }

  #auto-clickers {
    width: 75%;
    $language-bg: rgb(31, 28, 28);
    .language {
      height: 8vh;
      color: rgb(196, 196, 196);
      background-color: $language-bg;
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      cursor: pointer;

      &:hover {
        background-color: lighten($language-bg, 5);
      }

      & > div {
        display: flex;
      }

      .quantity {
        font-weight: bold;
        font-size: 2em;
        margin-right: 1em;
      }
    }
    img {
      margin: 0.5em;
      width: 50px;
    }

    .locked {
      opacity: 0.7;
      cursor: not-allowed;
      &:hover {
        background-color: $language-bg;
      }
    }
  }
}