* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(58, 53, 53);
  display: flex;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#left-container {
  width: 25vw;
  height: 100%;
}

#center-container {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    #game-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      #counter {
        color: white;
        font-size: 2em;

        &:after {
          content: " lignes de code";
        }
      }

      #lps {
        color: rgb(233, 227, 227);
        font-size: 1.5em;
        &:after {
          content: " lps";
        }
      }
    }

    #logo {
      border-radius: 50%;
      cursor: crosshair;
      width: 50%;
    }
  }
}

#right-container {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #auto-clickers {
    width: 75%;
    $language-bg: rgb(31, 28, 28);
    .language {
      height: 8vh;
      color: rgb(196, 196, 196);
      background-color: $language-bg;
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      cursor: pointer;

      &:hover {
        background-color: lighten($language-bg, 5);
      }

      & > div {
        display: flex;
      }

      .quantity {
        font-weight: bold;
        font-size: 2em;
        margin-right: 1em;
      }
    }
    img {
      margin: 0.5em;
      width: 50px;
    }

    .locked {
      opacity: 0.7;
      cursor: not-allowed;
      &:hover {
        background-color: $language-bg;
      }
    }
  }
}
